{% extends "@FRONT/base.html.twig" %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}  

    <section class="box section is-medium">
        <h1 class="title">Les mentions légales :</h1>
        <h2 class="subtitle">
            Si vous les lisez dîtes le moi :D
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{ asset('assets/pictures/illustrations/illu_legal.svg')}}" alt="">
        </p>
        <p class="has-text-centered mt-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum at excepturi vel culpa omnis. Adipisci
            explicabo, quia sint dolorem voluptates voluptatibus optio hic ad provident delectus. Ratione facere vitae
            ducimus.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis laboriosam quam laborum ut ea iure repellat, eius perferendis? Amet quae ipsum quos quisquam facilis magni aut natus placeat aperiam.
        </p>
    </section>

{% endblock %}