{% extends "@TPL/base.html.twig" %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}  

    <h1 class="title has-text-centered">Page des Mentions Légales</h1>

{% endblock %}