{# {% extends "@FRONT/base.html.twig" %} #}

{% block title %}MyPillsBox : Qui s'y cache ?{% endblock %}

{% block content %}
<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Page des infos secrètes de MyPillsBox</h1>
</section>

    <section class="box section is-medium">
        <h1 class="title">Derrière MyPillsBox se cache :</h1>
        <h2 class="subtitle">
            Amélie
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{ asset('assets/pictures/illustrations/illu_me.svg')}}" alt="">
        </p>
        
            <div class="badge-base LI-profile-badge is-flex" data-locale="fr_FR" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="amelie-abdallah" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/amelie-abdallah?trk=profile-badge"></a>
                <p class="has-text-centered mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum at excepturi vel culpa omnis. Adipisci explicabo, quia sint dolorem voluptates voluptatibus optio hic ad provident delectus. Ratione facere vitae ducimus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam laborum perspiciatis, eveniet totam iusto eius velit obcaecati aliquam! Ad odit assumenda minus accusamus laboriosam consequuntur corporis, ratione suscipit praesentium quod.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus velit quo architecto voluptatem reprehenderit adipisci qui doloribus sequi officia laboriosam, corporis vel in dolorum molestias itaque obcaecati expedita dolorem.
                Optio quia asperiores quis magni accusamus excepturi, ratione nam quisquam consequuntur, expedita mollitia cumque alias debitis amet tempora natus ea quam possimus dolore velit inventore? Distinctio deserunt incidunt velit perferendis.
                Est fuga unde voluptatem hic provident a ratione modi eveniet laborum corrupti officia, eos quo facilis minima possimus expedita dicta debitis consequatur illo reprehenderit? Nisi magnam et explicabo odio debitis?
                Voluptatibus ut pariatur voluptas reiciendis repellendus! Eos ipsam atque ex est facilis consequatur amet voluptate, tempore suscipit illum repellat aperiam laboriosam fugit maxime saepe inventore animi! Explicabo iure qui dolorum.
                Repudiandae velit placeat accusantium harum commodi id, eos recusandae perferendis eius ex nam distinctio! Enim deserunt tenetur doloremque omnis consectetur ex, odit voluptatem reprehenderit mollitia veniam eos nihil nostrum voluptatum?
                </p>
            </div>
            
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    </section>

{% endblock %}