{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Qui s'y cache ?{% endblock %}

{% block content %}
<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Page des infos secrètes de MyPillsBox</h1>
</section>

    <section class="box section is-medium">
        <h1 class="title">Derrière MyPillsBox se cache :</h1>
        <h2 class="subtitle">
            Amélie
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{ asset('assets/pictures/illustrations/illu_me.svg')}}" alt="">
            <div class="mt-6 ml-6 has-text-centered is-justify-content-center badge-base LI-profile-badge is-flex" data-locale="fr_FR" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="amelie-abdallah" data-version="v1">
                <a class="has-text-centered is-justify-content-center badge-base__link LI-simple-link" href="https://fr.linkedin.com/in/amelie-abdallah?trk=profile-badge"></a>
            </div>
        </p>

        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    </section>

{% endblock %}