{% extends "@FRONT/base.html.twig" %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}  

    <section class="box section is-medium">
        <h1 class="title">Derrière MyPillsBox se cache :</h1>
        <h2 class="subtitle">
            Amélie
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{ asset('assets/pictures/illustrations/illu_me.svg')}}" alt="">
        </p>
        <p class="has-text-centered mt-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum at excepturi vel culpa omnis. Adipisci
            explicabo, quia sint dolorem voluptates voluptatibus optio hic ad provident delectus. Ratione facere vitae
            ducimus.
        </p>
    </section>

{% endblock %}