<!DOCTYPE html>

<title>Hello MedicController!</title>

{% block body %}

    <section class="box section is-small">
        <h1 class="title">Les médicaments !</h1>
        <h2 class="subtitle">
            <button class="button is-success "><span class="icon-text"><span class="icon"><i
                            class="fas fa-plus-square"></i></span><span>AJOUTER un médicament</span></span></button>
        </h2>

        <table class="table has-text-centered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>COMPOSITION</th>
                    <th>FORME</th>
                    <th>AUTRE</th>
                    <th>AUTRE</th>
                    <th>AUTRE</th>
                    <th>AUTRE</th>
                    <th>AUTRE</th>
                    <th>AUTRE</th>
                    <th>AUTRE</th>
                    <th>EDITER</th>
                    <th>SUPPRIMER</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>compo</td>
                    <td>forme</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td><button class="button is-small is-warning"><span class="icon-text"><span class="icon"><iclass="fas fa-edit"></iclass=></span><span>EDITER</span></span></span></button></td>
                    <td><button class="button is-small is-danger"><span class="icon-text"><span class="icon"><iclass="fas fa-trash-alt"></iclass=></span><span>SUPPRIMER<span></span></span></button></td>
                </tr>

                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>compo</td>
                    <td>forme</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td><button class="button is-small is-warning"><span class="icon-text"><span class="icon"><iclass="fas fa-edit"></iclass=></span><span>EDITER</span></span></span></button></td>
                    <td><button class="button is-small is-danger"><span class="icon-text"><span class="icon"><iclass="fas fa-trash-alt"></iclass=></span><span>SUPPRIMER</span></span></span></button></td>
                    
                </tr>

                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>compo</td>
                    <td>forme</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td>autre</td>
                    <td><button class="button is-small is-warning"><span class="icon-text"><span class="icon"><iclass="fas fa-edit"></iclass=></span><span>EDITER</span></span></span></button></td>
                    <td><button class="button is-small is-danger"><span class="icon-text"><span class="icon"><iclass="fas fa-trash-alt"></iclass=></span><span>SUPPRIMER</span></span></span></button></td>
                </tr>
            </tbody>
        </table>
    </section>

{% endblock %}
