{% extends "@FRONT/base.html.twig" %}

{% block title %}Le médicament !{% endblock %}

{% block content %}

<section class="box section is-small">
        <h1 class="title">Le médicament !<button class="button is-success "><span class="icon-text"><span
                        class="icon"><i class="fas fa-undo-alt"></i></span><span>RETOUR</span></span></button></h1>

        <h2 class="title">
            Les informations de base
        </h2>
        <section class="box section is-small columns is-desktop p-0">

            <div class="card m-3 ">
                <div class="card-content medic_infos">
                    <h2 class="subtitle">
                        Infos 1
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_infos">
                    <h2 class="subtitle">
                        Infos 2
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_infos">
                    <h2 class="subtitle">
                        Infos 3
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_infos">
                    <h2 class="subtitle">
                        Infos 4
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_infos ">
                    <h2 class="subtitle">
                        Infos 5
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>
        </section>

        <h2 class="title">
            Vous devez faire attention à :
        </h2>
        <section class="box section is-small columns is-desktop p-0">

            <div class="card m-3 ">
                <div class="card-content medic_warning">
                    <h2 class="subtitle">
                        Warning 1
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_warning">
                    <h2 class="subtitle">
                        Warning 2
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_warning">
                    <h2 class="subtitle">
                        Warning 3
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_warning">
                    <h2 class="subtitle">
                        Warning 4
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>

            <div class="card m-3 ">
                <div class="card-content medic_warning">
                    <h2 class="subtitle">
                        Warning 5
                    </h2>
                    <div class="content column">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}