{% extends "@FRONT/base.html.twig" %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}


{% if app.request.method == 'POST' %}
<div>
    {% if medicines | length == 0 %}

    <div class="card m-3 p-3 medic_infos columns is-desktop is-justify-content-center">
            <h4 class="subtitle is-4 has-text-centered column is-9">Votre médicament n'est pas encore enregistré.</h4>
        </div>

    {% endif %}

    <section class="section">

        {% for medicine in medicines %}
        <div class="card m-3 p-3 medic_infos columns is-desktop is-justify-content-center is-flex-wrap-wrap">
            <h4 class="subtitle is-4 has-text-centered column is-9">Nom du médicament : {{ medicine.name }}</h4>
            <button
                class="button is-medium column is-one-fifth is-infos is-italic has-text-weight-bold has-text-black has-text-centered">
                <span class="icon-text">
                    <span class="icon">
                        <i class="far fa-eye"></i>
                    </span>
                    {# <a href="{{ path('back_office_medicine_read', { id: medicine.id })}}"> #}
                    <span>Regarder</span>
                    </a>
                </span>
            </button>
        </div>


        {% endfor %}
    </section>

</div>
{% endif %}
{% endblock %}