{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Accueil{% endblock %}

{% block content %}  
    <section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Page d'accueil</h1>
    </section>
    
    <section class="box section is-medium">
        <h1 class="title">La dernière des news !</h1>
        
        <section class="section is-small">
            {% for new in news %}
                <h2 class="subtitle">{{ new.title | raw }}</h2>
                     
                <p class="has-text-justified">{{ new.content | raw }}</p>
                    
            {% endfor %}
        </section>
    </section>

{% endblock %}
