{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Back : L'allergène{% endblock %}

{% block content %}

<section class="box section is-small">
        <h1 class="title">{{allergen.name}}</h1>
        <h2 class="subtitle has-text-right">
            <button class="button is-success is-medium ">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-undo-alt"></i>
                    </span>
                    <a href="">
                    <span>RETOUR</span>
                    </a>
                </span>
            </button>
            <button class="button is-medium is-warning is-light is-italic has-text-weight-bold has-text-black has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                    </span>
                    <a href="">
                        <span>Editer</span>
                    </a>
                </span>
            </button>
        </h2>
        <h2 class="title">
            Allergène : 
                {{ allergen.name | raw}}
        </h2>
        
        <section class="box section is-medium columns is-desktop p-1">
            <div class="card m-3 p-3 medic_infos column">
                    <h2 class="subtitle">
                        Nom :
                    </h2>
                    <div class="content column">
                        {{ allergen.name }}
                    </div>
            </div>
            <div class="card m-3 p-3 medic_infos column">
                    <h2 class="subtitle">
                        Médicament(s) :
                    </h2>
                    <div class="content column">
                        {% for medicines in allergen.medicines %}
                            {{ medicines.name | raw }}
                        {% endfor %}
                    </div>
            </div>
        </section>

    </section>
{% endblock %}