{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Erreurs{% endblock %}

{% block content %}  
    <section class="box section is-medium">
        <h1 class="title">Une erreur est survenue.</h1>
        <h2 class="subtitle">
            Désolée
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{asset('assets/pictures/illustrations/illu_sad.svg')}}" alt="">
        </p>
    </section>

{% endblock %}