{% extends "@FRONT/base.html.twig" %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}  

<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Page introuvable </h1>
    </section>
{# _error/404.html.twig #}
    <section class="box section is-medium">
        <h1 class="title">La page que vous demandez n'est pas trouvée.</h1>
        <h2 class="subtitle">
            Désolée
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{ asset('assets/pictures/illustrations/illu_404.svg')}}" alt="">
        </p>
    </section>

{% endblock %}
