{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Acces non autorisé{% endblock %}

{% block content %}  
<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Page interdite </h1>
    </section>


    <section class="box section is-medium">
        <h1 class="title">Vous n'êtes pas autorisé à entrer ici.</h1>
        <h2 class="subtitle">
            Désolée
        </h2>
        <p class="has-text-centered">
            <img class="illustration_svg" src="{{asset('assets/pictures/illustrations/illu_sad.svg')}}" alt="">
        </p>
    </section>

{% endblock %}