<div class="navbar-item has-dropdown is-hoverable dropdown">
    <a class="navbar-item" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Gestion administrateur</span>
        <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
    </a>

    <div class="navbar-dropdown dropdown-content">
        <a class="navbar-item dropdown-item" id="link_faq">
            La Foire Aux Questions
        </a>
        <a class="navbar-item dropdown-item">
            Les news !
        </a>
        <a class="navbar-item dropdown-item">
            Mes messages
        </a>
        <a class="navbar-item dropdown-item">
            Les médicaments
        </a>
        <a class="navbar-item dropdown-item">
            Les inscrit.e.s
        </a>
    </div>