<footer class="footer p-3">
        <div class="content has-text-centered is-flex is-desktop is-justify-content-space-around">
            <a href="#" target="_blank" rel="noopener noreferrer" class="column">Me contacter</a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="column">Les Conditions Générales d'Utilisation
                (CGU)</a>
            <a href="#" target="_blank" rel="noopener noreferrer" class="column">Les mentions légales</a>
        </div>
        <div class="has-text-centered">
            <img src="{{ asset('assets/pictures/visual_identity/MyPillsBox_text.png')}}" alt="Logo de MyPillsBox">
        </div>
    </footer>