{% block body %}


<container>
    <row class="header">
        <columns>
            <spacer size="16"></spacer>
            <h1 class="text-center">Bienvenue sur MyPillsBox!</h1>
        </columns>

        {% block content %}

        {% endblock %}
    </row>
</container>

{% endblock %}