<section class="box section is-small">
        <h1 class="title">MyPillsBox</h1>
        <h2 class="subtitle">
            Un site simplifié au maximum, pour vous aider à suivre et gérer votre traitement médical en autonomie.
        </h2>
        <section class="zone-research section">
            <div class="box is-flex is-align-items-center">
                <input class="input is-info is-large" type="text" placeholder="Votre médicament">
            </div>
            <div class="box is-flex is-justify-content-center is-align-items-center">
                <button class="button is-primary is-large is-outlined">Lancer la recherche</button>
            </div>
        </section>
    </section>